.vs
Source/BobOnRails.Controller/bin/
Source/BobOnRails.Controller/obj/
Source/BobOnRails.Controller.GUI/bin/
Source/BobOnRails.Controller.GUI/obj/
Source/BobOnRails.Controller.Communication/bin/
Source/BobOnRails.Controller.Communication/obj/
Source/BobOnRails.Controller.Communication.UnitTests/bin/
Source/BobOnRails.Controller.Communication.UnitTests/obj/
Source/BobOnRails.Controller.Physics/bin/
Source/BobOnRails.Controller.Physics/obj/
Source/BobOnRails.Controller.Physics.UnitTests/bin/
Source/BobOnRails.Controller.Physics.UnitTests/obj/
